<div ng-include="'partials/navbar.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>

<div class="container-fluid">
    <div class="row">
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">
            <h2>Willommen zum Beagle</h2>
            <div>
                <p>
                    Die Anwendung ist noch in einem sehr frühen Zustand und es sind Fehler zu erwarten.
                    Diese bitte <a href="https://github.com/Keybird/beagle/issues">hier</a> melden.
                </p>
                <p>
                    Die Anwendung wird stetig weiterentwickelt.
                    Allerdings kann zur Zeit nicht gewährleistet werden, dass alle Daten in einer neuen Version übernommen werden.
                </p>
                <p>
                    Bitte nicht produktiv einsetzen!
                </p>
            </div>
            <h3 class="mt-5">Bekannte Fehler</h3>
            <div>
                Mehrmaliges Drücken des Refresh-Buttons führt zu einem Fehlerzustand. Dieses <strong>muss</strong> unbedingt vermieden werden.
            </div>
            <h3 class="mt-5">Hilfe</h3>
            <div>
                Dokumente in den Beagle Eingang kopieren und anschließend den Refresh-Button drücken.
                Die dort abgelegten Dokumente werden eingelesen und indiziert.
            </div>
        </main>
    </div>
</div>


<div ng-include="'partials/footer.html'"></div>
